body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe6e6;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

h1{
    color: #ff6b6b;
    font-size: 32px;
    margin-bottom: 10px;
}

p{
    color: #ff6b6b;
    font-size: 32px;
    margin-bottom: 10px;
}

.heart{
    display: flex;
    color: pink;
    font-size: 120px;
}

.by{
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

button{
    background-color: #ffe6e6;
    cursor: pointer;
    border: 1px solid pink;
    border-radius: 5px;
    height: 25px;
    width: auto;
    color: #ff6b6b;
}